{% extends 'adminpanel/base.html' %}
{% load static %}

{% comment %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">
{% endblock %} {% endcomment %}

{% block content %}

    <div class=" bg-dark" style="background-image: url('https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); ">
        
            <div class="row">
                <div class=" col d-flex justify-content-center p-4">
                    <div class ="card shadow rounded mx-3 my-4 d-flex justify-content-center">
                        <div class ="card-header bg-primary text-white text-center fs-4 fw-bold fw-bold" style='font-family:Cursive;'>Update Blog</div>
                        <div class="card-body ">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class='form-group mb-4  fs-6 fw-bold' style='font-family:Cursive;'>
                                    {{ form }}
                                </div>
                                <input type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        
    </div>
</div>


{% endblock %}