{% extends 'adminpanel/base.html' %}
{% load static %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
{% load widget_tweaks %}



    <div class=" container-fluid bg-dark" id="back" style="background-image: url('https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
        <div class ="">
            <div class=" row">
                <div class="d-flex col justify-content-center p-4">
                    <div class ="card shadow-lg  my-4">
                        <div class ="card-header bg-dark text-white  text-center fs-4 fw-bold" style="font-family:Cursive";>Create a Blog !!!!</div>
                        <div class="card-body shadow">
                            <form action={% url 'blogapp:create' %} method = "POST"  enctype = "multipart/form-data">
                                {% csrf_token%}
                                <div class="form-group mb-4  fs-5 fw-bold" style="font-family:Times;">
                                    Title<div class="form-group mb-2 fw-bold">{{ form.title }}</div>
                                    Content<div class="d-flex form-group mb-2 fw-bold">{{ form.content }}</div>
                                    Image<div class="d-flex form-group mb-2 ">{{ form.image}}</div>
                                    Category<div class="form-group mb-2 fw-bold">{{ form.category }}</div>
                                    Tag : <input type="text" value="" name="tagname">
                                </div>
                                <div class=' card-footer'>
                                    <input class="btn btn-outline-dark" type = "submit" value ="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}