{% extends 'adminpanel/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">
{% endblock %}

{% block content %}

    <div class=" bg-dark" style="background-image: url('https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); ">
        
            <div class="row">
                <div class=" col d-flex justify-content-center p-4">
                    <div class ="card shadow rounded mx-3 my-4 d-flex justify-content-center">
                        <div class ="card-header bg-primary text-white text-center fs-4 fw-bold fw-bold" style='font-family:Cursive;'>Update Blog</div>
                        <div class="card-body ">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class='form-group mb-4  fs-6 fw-bold' style='font-family:Cursive;'>
                                    Title<div class="form-group mb-2 ">{{ form.title }}</div>
                                    Content<div class="d-flex form-group mb-2 ">{{ form.content }}</div>
                                    Image<div class="form-group mb-2 me-2 ">{{ form.image}}</div>
                                    Category<div class="form-group mb-2 ">{{ form.category }}</div>
                                    Status<div class="form-group mb-2 ">{{ form.status }}</div>
                                    Tag : <input type="text" value=" {% for i in postblog.tags.all  %} {{ i.name }} {% endfor %}" name="tagname">
                                </div>
                                <input type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        
    </div>
</div>


{% endblock %}