{% extends 'adminpanel/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">
{% endblock %}

{% block content %}


<div class="bg-dark">
    <div class ="container d-flex justify-content-center">
        <div class="d-flex row">
            <div class="col sm-3">
                <div class ="card my-4">
                    <div class ="card-header bg-primary text-white text-center fs-4 fw-bold fw-bold">Update Blog</div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class='mb-4'>
                            {{ form.as_p }}
                            Tag : <input type="text" value=" {% for i in postblog.tags.all  %} {{ i.name }} {% endfor %}" name="tagname">
                            </div>
                            <input type="submit" value="Save">
                        </form>
                    </div>
                </div>
            </div>

            <div class="col sm-2 mx-4 mt-4">
                <img src="{% static 'images/blogg.jpg' %}"
                        alt="Blog image" class="w-100% vh-100%" style="object-fit: cover; object-position: center; border-radius: .50rem; height:96%; width:100%;">
            </div>
        </div>
    </div>
</div>


{% endblock %}