{% extends 'adminpanel/base.html' %}
{% load static %}
{% block content %}

<div class ="d-flex justify-content-center p-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow text-center mt-5 bg-warning p-3" style="width: 300px;font-family: georgia;">
            <h1>Hello</h1><hr>

            {% if request.user.is_authenticated %}
            
            <p class="fw-bold fs-4">Logged in as - {{ request.user }}</p>

            <div class ="mb-4 fs-4">
                <a class="btn btn-primary" href = "{% url 'mypep:logout' %}">LOGOUT</a>
            </div>

            {% else %}

            <h2>Please Login To Continue</h2>

            <div class ="mb-4 fs-4">
                <a class="btn btn-primary" href = "{% url 'mypep:login' %}">Login</a>
            </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}