{% extends 'mypep/base.html' %}
{% load static %}
{% block content %}

<section class="h-100">
    <div class = "container-fluid">
        <div class = "d-flex row">
            <div class="col-sm-6 text-black">
                <div class="px-5 ms-xl-4 mt-5">
                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" ></i>
                    <span class="h1 fw-bold mb-0">Logo</span>
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">


                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input class="button" type="submit" value="Login">
                        </form>
                        <div class='mt-4'>
                            <a href = "{% url 'mypep:password_reset' %}">Forgot Password</a>
                            <p>Don't have an account? <a href="{% url 'mypep:signup' %}">Sign Up</a></p>
                            <a href = "{% url 'mypep:base' %}">Home</a>
                        </div>
                    </div>

                    {% comment %} <p class="small mb-5 pb-lg-2"><a class="text-muted" href="{% url 'mypep:password_reset' %}">Forgot password?</a></p>
                    <p>Don't have an account? <a href="{% url 'mypep:signup' %}" class="link-info">Register here</a></p> {% endcomment %}

                          
                    </div>
                </div>


                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="{% static 'Images/login.jpg.svg' %}"
                      alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: center;">
                </div>
                
            </div>
        </div>
    </section>

    <style>
        input[type=submit]{
            background-color: #04AA6D;
            border-radius: 25px;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
          }
    </style>

{% endblock %}