{% extends 'mypep/base.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center bg-dark">
    <div class="card text-center " style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">Password Change</div>
        <div class="card-body px-5">

            <form method = "POST" enctype = "multipart/form-data">
                {% csrf_token%}
                <div class="form-group">
                    {{form.as_p}}
                </div>
                <input type = "submit" value ="Submit">
            </form>

        </div>
    </div>
</div>

<style>
    input[type=submit]{
        background-color: #04AA6D;
        border-radius: 25px;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
</style>

{% endblock %}