{% extends 'adminpanel/base.html' %}
{% load static %}
{% block content %}


<div class="d-flex justify-content-center bg-dark">
    <div class="card shadow ">
        <div class="card-header bg-dark text-white d-flex justify-content-center">
            <p class="fw-bold fs-4">Update Profile</p>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
</div>


<style>
    input[type=submit]{
        background-color: #04AA6D;
        border-radius: 25px;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
</style>

{% endblock %}



{% comment %} 
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form> {% endcomment %}